:root{
    /* Colors */
    --primary-red: hsl(0, 78%, 62%);
    --primary-blue: hsl(212, 86%, 64%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-400: hsl(212, 6%, 44%);
    --neutral-500: hsl(234, 12%, 34%);

    --box-shadow: 0 8px 20px hsl(212, 86%, 64%, 0.3);

    /* Font Sisez */
    --font-h1: clamp(1.6rem, 1.029rem + 1.524vw, 2.4rem);
    --font-h2: 1.3rem;
    --font-p: clamp(1rem, 0.786rem + 0.571vw, 1.3rem);
    --font-small: 1rem;

    /* Font Weights */
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;

    /* Spacing */
    --margin: 1.5rem;
    --margin-header-cards: 5rem;
    --margin-h1-p: 0.8rem;
    --padding: 1.5rem;
    --padding-cards: 2rem;
    --gap: 1.5rem;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--neutral-100);
    font-size: 62.5%;
    margin: var(--margin);
}

/* Header*/

.container{
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--font-h1);
    font-weight: var(--fw-200);
    color: var(--neutral-500);
    margin: var(--margin);
    margin-block-end: var(--margin-header-cards);
}

.header span{
    font-weight: var(--fw-600);
    color: var(--neutral-500);
}

.header p{
    margin-block-start: var(--margin-h1-p);
    font-size: var(--font-p);
    font-weight: var(--fw-400);
    color: var(--neutral-500);
}

/* Cards   ! it should look something la this -=- if it makes sense !   */

.cards{
    display: grid;
    grid-template-areas:
        ". card2 ."
        "card1 card2 card4"
        "card1 card3 card4"
        ". card3 .";

    gap: var(--padding-cards);
    justify-content: center;
    margin: var(--margin);
}
    

.cards > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-cards);
    width: 35em;
    height: 25em;
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow);
}

.card1{
    border-top: 4px solid var(--primary-cyan);
}

.card2{
    border-top: 4px solid var(--primary-red);
}

.card3{
    border-top: 4px solid var(--primary-orange);
}

.card4{
    border-top: 4px solid var(--primary-blue);
}

.cards h2{
    font-size: var(--font-h2);
    font-weight: var(--fw-600);
    color: var(--neutral-500);
}

.cards p{
    font-size: var(--font-p);
    font-weight: var(--fw-400);
    color: var(--neutral-400);
}

.cards img{
    align-self: flex-end;
}

.attribution{
    text-align: center;
}

/*Media Querys*/

@media (max-width: 64rem) {

    html{
        font-size: 
    }

    .cards{
        border: 1px solid black;
        width: 90%;
        margin: 0 auto;
        grid-template-areas:
            "card1 card3"
            "card2 card4";
    }

    .cards > * {
        width: fit-content;
        height: 17rem;
}

    
}

/*@media (min-width: 576px){

    .cards {
        display: grid;
        grid-template-areas:
                "card1"
                "card2"
                "card3 "
                "card4";
        gap: var(--padding-cards);
        justify-content: center;
        }

    .cards > *{
        width: auto;
    }
}*/